.Button {
  border-radius: 3px;
  border: 0px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out 0s,
    background-color 0.25s ease-in-out 0s;
}
.Button:not(:last-child) {
  margin-right: 10px;
}



.Button__text {
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.35px;
  transition: color 0.25s ease-in-out 0s,
}



.Button--size-medium {
  padding: 13px 25px;
}
.Button--size-medium .Button__text {
  font-size: 18px;
}

.Button--size-small {
  padding: 10px 20px;
}
.Button--size-small .Button__text {
  font-size: 16px;
  font-weight: 500;
}



.Button--theme-filled {
  box-shadow: inset 0px 0px 0px 2px transparent;
  background-color: currentColor;
}
.Button--theme-filled:hover {
  box-shadow: inset 0px 0px 0px 2px currentColor;
  background-color: transparent;
}
.Button--theme-filled .Button__text {
  color: #fff;
}
.Button--theme-filled:hover .Button__text {
  color: currentColor;
}



.Button--theme-outlined {
  box-shadow: inset 0px 0px 0px 2px currentColor;
  background-color: transparent;
}
.Button--theme-outlined:hover {
  box-shadow: inset 0px 0px 0px 2px transparent;
  background-color: currentColor;
}
.Button--theme-outlined .Button__text {
  color: currentColor;
}
.Button--theme-outlined:hover .Button__text {
  color: #fff;
}



.Button--theme-lite {
  box-shadow: inset 0px 0px 0px 2px transparent;
  background-color: transparent;
}
.Button--theme-lite:hover {
  box-shadow: inset 0px 0px 0px 2px transparent;
  background-color: rgba(0, 0, 0, 0.075);
}
.Button--theme-lite .Button__text {
  color: currentColor;
  font-weight: 400;
}
.Button--theme-lite:hover .Button__text {
  color: #333333;
}



.Button--color-default {
  color: #555555;
}
.Button--color-blue {
  color: #1565C0;
}
.Button--color-green {
  color: #4caf50;
}
.Button--color-red {
  color: #c01515;
}
