.ModalInstance {
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 0s ease-in-out 0.5s,
    opacity 0.5s ease-in-out 0s;
}

.ModalInstance--isVisible {
  visibility: visible;
  opacity: 1.0;
  transition: visibility 0s ease-in-out 0s,
    opacity 0.5s ease-in-out 0s;
}

.ModalInstance__wrapper {
  width: 100%;
  max-width: 480px;
  margin: 0px auto;
}

.ModalInstance__box {
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
}

.ModalInstance__header {
  display: flex;
  justify-content: flex-end;
}

.ModalInstance__close-icon {
  width: 30px;
  height: 30px;
  background-color: red;
}

.ModalInstance__body {
  height: 250px;
}
