.Header {
  position: relative;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25),
    0px 1px 0px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 1;
  cursor: grab;
}
.Header__bar {
  position: relative;
  height: 60px;
}
.Header__bar__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 60px;
  background-color: #fff;
  z-index: 1;
}

.Header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-basis: 160px;
  height: 100%;
  z-index: 1;
}
.Header__logo__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0px 15px;
  background-color: transparent;
}
.Header__logo__icon {
  flex-basis: 35px;
  width: 35px;
  height: 35px;
  background-image: url('./images/logo-map-icon.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.Header__logo__text {
  color: #000;
  font-size: 18px;
  font-family: 'Lato', cursive;
  font-weight: 700;
  text-shadow: 1px 1px 2px #fff,
    0px 0px 5px #fff,
    0px 0px 5px #fff;
  letter-spacing: 0.25px;
  word-spacing: 0px;
  margin-left: 5px;
}

.Header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.Header__bar__swipehandle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 5px;
  cursor: grab;
}
.Header__bar__swipehandle__bar {
  flex-basis: 25%;
  width: 60%;
  height: 5px;
  border-radius: 0px 0px 2.5px 2.5px;
  background-color: rgba(0, 0, 0, 0.2);
}
